@charset "utf8";

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #333;
}

ol,
ul {
    list-style: none;
}

html {
    scroll-behavior: smooth;
    -webkit-text-size-adjust: none;
}

body {
    color: #333;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    word-break: keep-all;
    /* overflow-x: hidden; */
}

body.menu-open {
    overflow: hidden;
}

#wrap {
    width: 100%;
    overflow: hidden;
}

#visual_banner {
    width: 100%;
    height: 70vh;
    position: relative;
}

#visual_banner img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#visual_banner p {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.5em;
    color: #fff;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

@media (max-width: 430px){
    #visual_banner p {
        font-size: 2.5rem;
    }
}



.item-tab {
    margin: 10rem 0 5.2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.6rem;
}

.item-tab li {
    display: flex;
    height: 4rem;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    border-radius: 999px;
    cursor: pointer;
    color: #808080;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1;
}

.item-tab li.on {
    background: #111;
    color: #fff;
}

.item-tab li.on a {
    color: #fff;
}

.item-list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: auto;
    margin-right: -4rem;
}

.item-list li {
    width: calc(100%/3);
    padding: 0 4rem 6rem 0;
    box-sizing: border-box;
}

.item-list li:last-child {
    margin-right: 0;
}

.item-list li .img {
    width: 100%;
    height: 27.5rem;
    text-align: center;
}

.cate-box {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

@media (max-width: 1560px) {
    .item-tab {
        margin: calc(100vw * (100 / 1560)) 0 calc(100vw * (52 / 1560));
        gap: calc(100vw * (16 / 1560));
    }

    .item-tab li {
        height: calc(100vw * (44 / 1560));
        padding: 0px calc(100vw * (16 / 1560));
        border-radius: calc(100vw * (999 / 1560));
        font-size: calc(100vw * (24 / 1560));
    }

    .item-list {
        padding-right: calc(100vw * (-28 / 1560));
    }

    .item-list li {
        padding: 0 calc(100vw * (28 / 1560)) calc(100vw * (60 / 1560)) 0;
    }

    .item-list li .img {
        height: calc(100vw * (275 / 1560));
    }
}

@media (max-width: 1180px) {
    .item-tab {
        margin: calc(100vw * (80 / 1180)) 0 calc(100vw * (52 / 1180));
        gap: calc(100vw * (16 / 1180));
    }

    .item-tab li {
        height: calc(100vw * (44 / 1180));
        padding: 0px calc(100vw * (16 / 1180));
        border-radius: calc(100vw * (999 / 1180));
        font-size: calc(100vw * (24 / 1180));
    }

    .item-list {
        margin-right: calc(100vw * (-28 / 1180));
    }

    .item-list li {
        padding: 0 calc(100vw * (28 / 1180)) calc(100vw * (60 / 1180)) 0;
        width: calc(100%/2);
    }

    .item-list li .img {
        height: calc(100vw * (275 / 1180));
    }
}

@media (max-width: 768px) {
    .item-tab {
        overflow: scroll;
        flex-wrap: nowrap;
        margin: calc(100vw * (100 / 768)) calc(100vw * (-48 / 768)) calc(100vw * (52 / 768));
        padding: 0 calc(100vw * (48 / 768));
        gap: calc(100vw * (8 / 768));
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }

    .item-tab::-webkit-scrollbar {
        display: none;
        /* Chrome, Safari, Opera*/
    }

    .item-tab li {
        height: calc(100vw * (78 / 768));
        padding: 0px calc(100vw * (28 / 768));
        border-radius: calc(100vw * (999 / 768));
        font-size: calc(100vw * (36 / 768));
    }

    .item-list {
        display: block;
        margin-right: 0;
    }

    .item-list li {
        width: 100%;
        padding: 0 0 calc(100vw * (80 / 768));
    }

    .item-list li .img {
        height: calc(100vw * (397 / 768));
    }
}

/* 특허ㆍ인증ㆍ수상 */
.awards {
    margin-bottom: 18rem;
}

.awards-list li .img {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F6F6F6;
}

.awards-list li .img img {
    max-width: 16.6rem;
    height: auto;
}

.awards-list li .cate {
    display: block;
    max-height: 20px;
    margin: 2.8rem 0 1.2rem;
    color: #003b8a;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1;
    /* overflow: hidden; */
}

.awards-list li p {
    font-size: 1.5rem;
    max-height: 76px;
    font-weight: 600;
    line-height: 1.45;
    overflow: hidden;
}

@media (max-width: 1560px) {
    .awards {
        margin-bottom: calc(100vw * (180 / 1560));
    }

    .awards-list li .img img {
        max-width: calc(100vw * (166 / 1560));
    }

    .awards-list li .cate {
        max-height: calc(100vw * (19 / 1560));
        margin: calc(100vw * (28 / 1560)) 0 calc(100vw * (12 / 1560));
        font-size: calc(100vw * (19 / 1560));
    }

    .awards-list li p {
        max-height: calc(100vw * (76 / 1560));
        font-size: calc(100vw * (26 / 1560));
    }
}

@media (max-width: 1180px) {
    .awards {
        margin-bottom: calc(100vw * (180 / 1180));
    }

    .awards-list li .img img {
        max-width: calc(100vw * (166 / 1180));
    }

    .awards-list li .cate {
        max-height: calc(100vw * (18 / 1180));
        margin: calc(100vw * (28 / 1180)) 0 calc(100vw * (12 / 1180));
        font-size: calc(100vw * (19 / 1180));
    }

    .awards-list li p {
        max-height: calc(100vw * (76 / 1180));
        font-size: calc(100vw * (26 / 1180));
    }
}

@media (max-width: 768px) {
    .awards {
        margin-bottom: calc(100vw * (180 / 768));
    }

    .awards-list li .img img {
        max-width: calc(100vw * (250 / 768));
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .awards-list li .cate {
        max-height: 100%;
        height: auto;
        margin: calc(100vw * (32 / 768)) 0 calc(100vw * (12 / 768));
        font-size: calc(100vw * (32 / 768));
    }

    .awards-list li p {
        max-height: 100%;
        font-size: calc(100vw * (36 / 768));
    }
}

.container {
    position: relative;
    width: 100%;
    max-width: calc(144rem + 12rem);
    margin: 0 auto;
    padding: 0 6rem;
    box-sizing: border-box;
}

@media (max-width: 1560px) {
    .container {
        max-width: calc(144rem + calc(100vw * (120 / 1560)));
        padding: 0 calc(100vw * (60 / 1560));
    }
}

@media (max-width: 1180px) {
    .container {
        max-width: calc(144rem + calc(100vw * (120 / 1180)));
        padding: 0 calc(100vw * (60 / 1180));
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 100%;
        padding: 0 calc(100vw * (48 / 768));
    }
}