@charset "utf-8";

/* contact */
#contact {
    width: 100%;
    height: 400px;
    background: url(../images/main/contact.png) no-repeat center/cover;
    background-color: #d4e6ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact_text .title,
.typed-cursor {
    display: none;
}

.contact_text .typing02 {
    padding: 0 6vw 0;
    font-size: 2.5rem;
    text-align: center;
    font-weight: bold;
}


.contact_text .typing02::after {
    content: '';
    display: inline-block;
    height: 1em;
    width: 2px;
    margin-left: 0.5rem;
    background-color: #333;
    vertical-align: -2px;
    animation: blink 1.5s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.contact_btn {
    padding-top: 30px;
}

.contact_btn a {
    display: inline-block;
    background-color: #fff;
    font-size: 1rem;
    padding: 10px 30px 10px 20px;
    border: 1px solid #333;
}

.contact_btn a::after {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
    transform: rotate(-45deg);
    margin-left: 10px;
}

.contact_btn a:hover {
    background-color: #003b8a;
    color: #fff;
    border: 1px solid transparent;
}

.contact_btn a:hover::after {
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

@media (max-width:1180px) {
    .contact_text .typing02 {
        font-size: calc(100vw * (40 / 1180));
    }
}

@media (max-width:768px) {
    .contact_text .typing02 {
        font-size: calc(100vw * (34 / 768));
    }
}

@media (max-width:430px) {
    .contact_text .typing02 {
        font-size: calc(100vw * (30 / 430));
        word-break: keep-all;
    }
}

/* footer */
#footer {
    width: 100%;
    height: 200px;
    background-color: #003b8a;
    padding: 0 10vw;
    box-sizing: border-box;
}

.footer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.footer_text {
    width: 70%;
}

.footer_text ul {
    display: flex;
}

.footer_text ul li {
    padding-left: 10px;
}

.footer_text ul li,
.footer_text p,
.footer_text a {
    display: block;
    color: #fff;
    font-size: 1rem;
}

.footer_text a:hover {
    text-decoration: underline;
}

.footer_text ul li::before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 16px;
    background-color: #fff;
    margin-right: 10px;
}

.footer_text ul li:first-child::before {
    display: none;
}

.footer_text ul li:first-child {
    padding-left: 0;
}

.sns_link {
    width: 30%;
}

.sns_link ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.sns_link ul li a {
    display: block;
    width: 50px;
    height: 50px;
    padding: 5px;
    margin-right: 10px;
    box-sizing: border-box;
    border: 1px solid #fff;
    border-radius: 50%;
}

.sns_link ul li a img {
    display: block;
    width: 100%;
    height: 100%;
}

.sns_link ul li:first-child a:hover {
    background-color: red;
}

.sns_link ul li:nth-child(2) a:hover {
    background-color: #17d5ff;
}

.sns_link ul li:nth-child(3) a:hover {
    background-color: #03c75a;
}

@media (max-width:1560px) {
    #footer {
        padding: 0 5vw;
    }
}

@media (max-width:768px) {
    #footer {
        height: 400px;
    }

    .footer {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .footer_text {
        order: 2;
        width: 100%;
    }


    .footer_text ul {
        display: flex;
        flex-direction: column;
    }

    .footer_text ul li,
    .footer_text p,
    .footer_text a {
        font-size: 0.9rem;
    }

    .footer_text ul li::before {
        display: none;
    }

    .footer_text ul li,
    .footer_text p {
        padding-left: 0;
        padding-bottom: 10px;
    }

    .sns_link {
        order: 1;
        width: 100%;
        padding-bottom: 30px;
    }

    .sns_link ul {
        justify-content: flex-start;
    }
}
