@charset "utf-8";

/* header */
#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    padding: 0 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    z-index: 10;
    transition: all 0.3s;
}

#header.scroll {
    background: rgba(255, 255, 255, 0.8);
}

#header.active {transform: translateY(-100%);}

.nav {
    height: 100%;
    display: flex;
    align-items: center;
}

.gnb {
    display: flex;
    height: 100%;
}

.gnb>li {
    height: 100%;
    position: relative;
}

.gnb>li>a {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 1.2rem;
    height: 100%;
    padding: 0 2.5vw;
    box-sizing: border-box;
}

.gnb>li>a:hover {
    color: #003b8a;
}

.submenu_wrap {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    padding: 20px;
    display: none;
}

.submenu>ul>li>a {
    display: block;
    padding: 10px 0;
    font-weight: 500;
    font-size: 1.2rem;
    color: #ddd;
}

.submenu>ul>li>a:hover {
    color: #003b8a;
}

.m_nav {
    display: none;
}

@media (max-width:1560px){
    #header {
        padding: 0 5vw;
    }
}

@media (max-width:1180px) {
    .gnb {
        display: none;
    }

    .m_nav {
        display: block;
    }

    .menu-trigger,
    .menu-trigger span {
        display: inline-block;
        transition: all .4s;
        box-sizing: border-box;
        z-index: 10;
    }

    .menu-trigger {
        position: relative;
        width: 24px;
        height: 24px;
    }

    .menu-trigger span {
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        z-index: 10;
        background-color: #333;
    }

    .menu-trigger span:nth-of-type(1) {
        top: 0;
    }

    .menu-trigger span:nth-of-type(2) {
        top: 11px;
    }

    .menu-trigger span:nth-of-type(3) {
        bottom: 0;
    }

    .m_menu {
        position: fixed;
        right: 0;
        top: 0;
        z-index: 9;
        background-color: #fff;
        width: 100vw;
        height: 100vh;
        margin-right: 100vw;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        padding: 30px 5vw;
        box-sizing: border-box;
        transition: 0.5s ease;
    }

    .m_logo {
        margin-bottom: 50px;
    }

    .m_gnb>ul>li {
        width: 100%;
        border-top: 1px solid #ddd;
        position: relative;
        padding: 30px 0;
    }

    .m_gnb>ul>li:nth-child(1)>button, .m_gnb>ul>li:nth-child(2)>button {
        position: absolute;
        right: 5px;
        top: 40%;
        width: 12px;
        height: 12px;
        border: none;
        background-color: transparent;
        border-top: 2px solid #333;
        border-right: 2px solid #333;
        transform: rotate(135deg);
        cursor: pointer;
        transition: all 300ms;
    }

    .m_gnb>ul>li.rotate>button {
        transform: rotate(315deg);
    }

    .m_gnb>ul>li>a {
        display: inline-block;
        font-size: 2rem;
        font-weight: 600;
    }

    .m_submenu {
        display: none;
        margin-top: 20px;
    }

    .m_submenu li {
        padding: 10px 0 0;
    }

    .m_submenu li a {
        display: inline-block;
        font-size: 1.5rem;
        font-weight: 500;
    }

    .menu-trigger.active-1 span:nth-of-type(1) {
        -webkit-transform: translateY(20px) rotate(-45deg);
        transform: translateY(11px) rotate(-45deg);
    }

    .menu-trigger.active-1 span:nth-of-type(2) {
        opacity: 0;
    }

    .menu-trigger.active-1 span:nth-of-type(3) {
        -webkit-transform: translateY(-20px) rotate(45deg);
        transform: translateY(-11px) rotate(45deg);
    }

}

@media (max-width:430px){
    .m_gnb>ul>li>a {
        font-size: calc(100vw * (25 / 430));
    }

    .m_submenu li a {
        font-size: calc(100vw * (19 / 430));
    }

}
