@charset "utf8";

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #333;
}

em,
address {
    font-style: normal;
}

ol,
ul {
    list-style: none;
}

html {
    scroll-behavior: smooth;
    -webkit-text-size-adjust: none;
}

body {
    color: #333;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    overflow-x: hidden;
}

body.menu-open {
    overflow: hidden;
}

#wrap {
    width: 100vw;
    overflow: hidden;
}

#visual_banner {
    width: 100%;
    height: 60vh;
    position: relative;
}

#visual_banner img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#visual_banner p {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.5;
    color: #fff;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

@media (max-width: 430px) {
    #visual_banner p {
        font-size: 2.5rem;
    }
}

.container {
    position: relative;
    width: 100%;
    max-width: calc(144rem + 12rem);
    margin: 0 auto;
    padding: 0 10vw;
    box-sizing: border-box;
}

@media (max-width: 1560px) {
    .container {
        max-width: calc(144rem + calc(100vw * (120 / 1560)));
        padding: 0 5vw;
    }
}

@media (max-width: 1180px) {
    .container {
        max-width: calc(144rem + calc(100vw * (120 / 1180)));
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 100%;
    }
}


.item-tab {
    margin: 10rem 0 5.2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.6rem;
}

.item-tab li {
    display: flex;
    height: 4rem;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    border-radius: 999px;
    cursor: pointer;
    color: #808080;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1;
}

.item-tab li.on {
    background: #111;
    color: #fff;
}

.item-tab li.on a {
    color: #fff;
}

.item-list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: auto;
    margin-right: -2.5rem;
}

.item-list li {
    width: calc(100%/3);
    padding: 0 2.5rem 4rem 0;
    box-sizing: border-box;
}

.item-list li:last-child {
    margin-right: 0;
}

.item-list li .img {
    width: 100%;
    height: 17.5rem;
    text-align: center;
}

.cate-box {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

@media (max-width: 1560px) {
    .item-tab {
        margin: calc(100vw * (100 / 1560)) 0 calc(100vw * (52 / 1560));
        gap: calc(100vw * (16 / 1560));
    }

    .item-tab li {
        height: calc(100vw * (44 / 1560));
        padding: 0px calc(100vw * (16 / 1560));
        border-radius: calc(100vw * (999 / 1560));
        font-size: calc(100vw * (24 / 1560));
    }

    .item-list {
        padding-right: calc(100vw * (-28 / 1560));
    }

    .item-list li {
        padding: 0 calc(100vw * (28 / 1560)) calc(100vw * (60 / 1560)) 0;
    }

    .item-list li .img {
        height: calc(100vw * (275 / 1560));
    }
}

@media (max-width: 1180px) {
    .item-tab {
        margin: calc(100vw * (80 / 1180)) 0 calc(100vw * (52 / 1180));
        gap: calc(100vw * (16 / 1180));
    }

    .item-tab li {
        height: calc(100vw * (44 / 1180));
        padding: 0px calc(100vw * (16 / 1180));
        border-radius: calc(100vw * (999 / 1180));
        font-size: calc(100vw * (24 / 1180));
    }

    .item-list {
        margin-right: calc(100vw * (-28 / 1180));
    }

    .item-list li {
        padding: 0 calc(100vw * (28 / 1180)) calc(100vw * (60 / 1180)) 0;
        width: calc(100%/2);
    }

    .item-list li .img {
        height: calc(100vw * (275 / 1180));
    }
}

@media (max-width: 768px) {
    .item-tab {
        overflow: scroll;
        flex-wrap: nowrap;
        margin: calc(100vw * (100 / 768)) calc(100vw * (-48 / 768)) calc(100vw * (52 / 768));
        padding: 0 calc(100vw * (48 / 768));
        gap: calc(100vw * (8 / 768));
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }

    .item-tab::-webkit-scrollbar {
        display: none;
        /* Chrome, Safari, Opera*/
    }

    .item-tab li {
        height: calc(100vw * (78 / 768));
        padding: 0px calc(100vw * (28 / 768));
        border-radius: calc(100vw * (999 / 768));
        font-size: calc(100vw * (36 / 768));
    }

    .item-list {
        display: block;
        margin-right: 0;
    }

    .item-list li {
        width: 100%;
        padding: 0 0 calc(100vw * (80 / 768));
    }

    .item-list li .img {
        height: calc(100vw * (397 / 768));
    }
}

.portfolio {
    margin-bottom: 18vh;
}

.portfolio-list li .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 1560px) {
    .portfolio {
        margin-bottom: calc(100vw * (180 / 1560));
    }

    .portfolio-list li .cate {
        max-height: calc(100vw * (19 / 1560));
        margin: calc(100vw * (28 / 1560)) 0 calc(100vw * (12 / 1560));
        font-size: calc(100vw * (19 / 1560));
    }

    .portfolio-list li p {
        max-height: calc(100vw * (76 / 1560));
        font-size: calc(100vw * (26 / 1560));
    }
}

.portfolio__link {
    display: block;
    position: relative;
}

@media(min-width: 1181px) {
    .portfolio__link:hover .portfolio__mask {
        visibility: visible;
        opacity: 1;
        transform: scale(1)
    }

    .portfolio__link:hover .portfolio__mask::before {
        transform: translate(-50%, -50%) scale(2)
    }
}

.portfolio__mask {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    text-align: center;
    transition: visibility .3s, opacity .3s;
}

.portfolio__mask::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    padding-top: 100%;
    border-radius: 50%;
    background-color: rgba(0, 60, 138, 0.9);
    transform: translate(-50%, -50%) scale(0);
    transition: transform .5s cubic-bezier(0.515, 0.275, 0, 1.01)
}

.portfolio__title {
    position: relative;
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
}

.portfolio__text {
    position: relative;
    font-size: 1.2rem;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #fff;

}

@media (max-width: 1180px) {
    .portfolio {
        margin-bottom: calc(100vw * (180 / 1180));
    }
}

@media (max-width: 768px) {
    .portfolio {
        margin-bottom: calc(100vw * (180 / 768));
    }
}

/* ------------------------------- */
/* portfolio-view */
#portfolio-view {
    width: 100%;
    overflow: hidden;
    color: #fff;
}

#portfolio-view .inner {
    padding: 12vw 10vw 10vw;
}

.portfolio-view__wrap {
    background-color: #003b8a;
    padding: 6vw;
    border-radius: 30px;
}

.portfolio-view__top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 4rem;
    margin-bottom: 4rem;
    border-bottom: 1px solid #002f6d;
}

.portfolio-view__top .categorys__item {
    color: #333;
    border: 0;
    background-color: #fff;
}

.portfolio-view__title {
    font-size: 2rem;
}

.categorys__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    /* min-width: 6.5rem;
    height: 3.5rem; */
    padding: 0.2vw 1.5vw;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    border: 1rem solid #fff;
    border-radius: 20rem;
}

.portfolio-view__cont {
    position: relative;
    padding-top: 56%;
    width: 100%;
    height: 0;
}

.portfolio-view__cont iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width:1560px) {
    #portfolio-view .inner {
        padding: 185px 10vw 100px;
    }

    .portfolio-view__title {
        font-size: calc(100vw * (32/1560));
    }

    .categorys__item {
        font-size: calc(100vw * (32/1560));
    }
}

@media (max-width:1180px) {
    .portfolio-view__top {
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 2rem;
        margin-bottom: 2rem;
    }

    .portfolio-view__title {
        font-size: calc(100vw * (32/1180));
        padding-bottom: 1vw;
    }

    .categorys__item {
        font-size: calc(100vw * (32/1180));
        
    }
}

@media (max-width:768px) {
    .portfolio-view__title {
        font-size: calc(100vw * (36/768));
    }

    .categorys__item {
        font-size: calc(100vw * (36/768));
        padding: 0.1vw 2.8vw;
    }
}

/* ------------------------------- */