@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #333;
}

em,
address {
    font-style: normal;
}

ul {
    list-style: none;
}

html {
    scroll-behavior: smooth;
    -webkit-text-size-adjust: none;
}

body {
    color: #333;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    overflow-x: hidden;
    word-break: keep-all;
}

body.menu-open {
    overflow: hidden;
}

#wrap {
    width: 100vw;
    overflow: hidden;
}

#privacy {
    width: 100%;
    padding: 10vw 10vw;
    box-sizing: border-box;
}

#privacy ul>li{
    padding: 3vw 0;
}

#privacy h2{
    font-size: 2.5rem;
    font-weight: 600;
    padding-bottom: 3vw;
    border-bottom: 1px solid #d9d9d9;
}

#privacy p, #privacy ol{
    font-size: 1.2rem;
}

#privacy ol{
    list-style-position: inside;
    margin-left: 30px;
}

#privacy .title{
    font-size: 2rem;
    font-weight: 500;
    padding-bottom: 1vw;
}

@media (max-width:1560px){
    
}
@media (max-width:1180px){}
@media (max-width:768px){}